{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu Principal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" />
    
</head>
<body background="{% static 'img/fondo-audio.jpg' %}">
    <header  >
            <nav>
                <a href="/">Inicio</a>
                <a href="/listadoCliente">Clientes</a>
                <a href="/listadoOrden">Listado de Orden</a>
                <a href="/Login">Iniciar Sesion</a> 
            </nav>
    </header>
    
    
    <div class="body">
        <form action="" method="POST" name="formulario1">
            {% csrf_token %}
            <center>
                <div class="formulario2">
                    <center><h1 >Registro de Tecnico</h1></center>
                
                <br>
                <center>
                {% csrf_token %}
                 
                    {{ profile_form.as_p }}
                    <br>
                    {{ user_form.as_p }}
                </center>
                <center>
                <input type="submit"  name="btn"  id="btn" class="btn-submit" value="Ingresar"   >
                </center>
                <br>
                <br>
                </form>
                
            </div> 
        </center>
            <footer class="pie ">
                    <div class=" wrapper">
                            <p class="textPie ">	Desarrollo web y Mobile,<br>
                             Pagina web creado por Victor Lara y Franco ortiz </p>
                        </div>
            </footer>

</body>
</html>